<content-header short="true">
  <div class="content-header__body">
    <img ng-if="vm.product.img" class="content-header__icon" ng-src="images/assets/{{ ::vm.product.img }}"/>
    <span class="content-header__title">{{ ::vm.service.product.name }}</span>
  </div>
  <div class="content-header__aside">
    <back-link></back-link>
  </div>
</content-header>

<service-basic-details service="vm.service"></service-basic-details>

<region heading="ODL Operational Control">
  <table class="tables">
    <tbody>
      <tr>
        <td class="tables__cell">
          <button type="button"
                  class="btn-rounded"
                  ng-click="vm.refreshNodes()">
            Get Network Topology
          </button>
        </td>
      </tr>
      <tr><td class="tables__cell">
        &nbsp;
      </td></tr>
    </tbody>
  </table>
</region>

<div ng-if="vm.firewall_rules">
  <region heading="vRouter5600 Firewall Policies">
    <table class="tables">
      <tbody>
      <tr>
        <td class="tables__cell">

          <table class="tables">
            <thead>
              <tr>
                <th class="tables__heading">Policy</th>
                <th class="tables__heading">Rule Id</th>
                <th class="tables__heading">Rule</th>
              <tr>
            </thead>
            <tbody>
              <tr ng-repeat="(rule_idx, rule) in vm.firewall_rules">
                  <td class="tables__cell">{{ rule['policy'] }}</td>
                  <td class="tables__cell">{{ rule['tagnode'] }}</td>
                  <td class="tables__cell">
                    <div ng-if="vm.firewall_rules[rule_idx]['destination']['address']" class="">
                      <label class="form__label">Destination</label>
                      <input type="text" ng-model="vm.firewall_rules[rule_idx]['destination']['address']" name="destination"
                             class="forms__input" required/>
                    </div>
                    <div ng-if="vm.firewall_rules[rule_idx]['source']['address']" class="">
                      <label class="form__label">Source</label>
                      <input type="text" ng-model="vm.firewall_rules[rule_idx]['source']['address']" name="source"
                             class="forms__input" required/>
                    </div>
                    <div ng-if="vm.firewall_rules[rule_idx]['action']" class="">
                      <label class="form__label">Action</label>
                      <input type="text" ng-model="vm.firewall_rules[rule_idx]['action']" name="action"
                             class="forms__input" required/>
                    </div>
                  </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      </tbody>
    </table>
  </region>
</div>

<div ng-if="vm.response">
<region heading="Response">
  <table class="tables">
    <tbody>
    <tr>
      <td class="tables__cell">
        {{ vm.response }}
      </td>
    </tr>
    <tr><td class="tables__cell">
      &nbsp;
    </td></tr>
    </tbody>
  </table>
</region>
</div>